@page
@model DigitalLibrary.Pages.BookDetailsModel
@{
}

<div class="container">
    <div class="row mt-5">

        <div class="col-lg-4 col-12">
            <img src="~/Images/@Model.Book.ImageUrl" alt="عکس کتاب" width="300" height="300px"
                 class="mt-2 mx-auto d-block mt-n5">
        </div>


        <div class="col-lg-4 col-12">
            <h4 class="text-dark my-4"> @Model.Book.Name </h4>
            <h4 class="text-dark my-4"> نام نویسنده : @Model.Book.Author </h4>
            <h4 class="text-dark my-4"> ژانر : @Model.Book.Category.Name </h4>
        </div>
        <div class="col-lg-4 col-12">
            <h4 class="text-dark my-4"> تاریخ انتشار : @Model.Book.PublishDate </h4>
            <h4 class="text-dark my-4"> نام مترجم : @Model.Book.Translator </h4>
            <form method="post">
                <input type="hidden" asp-for="Book.Id" />
                <input type="hidden" asp-for="Book.FileUrl" />
                <button type="submit" class="btn btn-primary btn-block w-75"> دانلود </button>
            </form>
        </div>
    </div>
    <h4 class="text-dark" style="line-height: 1.5; text-align: justify;">
        @Model.Book.Description
    </h4>

</div>